@font-face {
    font-family: 'starjedi';
    font-style: normal;
    font-weight: normal;
    src: url('../../../assets/fonts/starjedi.ttf');
}

@font-face {
    font-family: 'game';
    font-style: normal;
    font-weight: normal;
    src: url('../../../assets/fonts/ancient-game.ttf');
}