@font-face {
    font-family: 'old-west';
    font-style: normal;
    font-weight: normal;
    src: url('/fonts/old-west.otf');
}

@font-face {
    font-family: 'wild-west';
    font-style: normal;
    font-weight: normal;
    src: url('/fonts/wild-west.otf') ;
}