@font-face {
    font-family: 'town';
    font-style: normal;
    font-weight: normal;
    src: url('../../../assets/fonts/bromph_town.otf') format('truetype');
}

@font-face {
    font-family: 'woods';
    font-style: normal;
    font-weight: normal;
    src: url('../../../assets/fonts/woodtrap.ttf') format('truetype');
}