/* ---------------------- Imports ---------------------- */
@import '../../../styles/normalize.css';
@import 'colors.css';
@import 'fonts.css';


/* ---------------------- View ---------------------- */
@viewport {
    width: 1024px;
}

.view {
    height: 100vh;
    display: flex;
    align-items: center;
    background: url('../../../assets/images/bg-beach.jpg') no-repeat fixed center;
    background-size: cover;
}

.view-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
}

/* ---------------------- Main ---------------------- */
#loading,
#loading-container {
    width: 100%;
    max-width: 2560vw;
    height: 100%;
    max-height: 1440vh;
    position: absolute;
    top: 0;
    z-index: 10;
}

/* Header ---------------------- */
.header-container {
    width: 97%;
    height: 10%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-text {
    color: var(--porcelain);
    font-family: 'beachday', serif;
    font-size: 50px;
    text-shadow: 1px 1px 3px var(--black-blur);
    margin: 0 20px;
}

.arrow-back-content {
    width: 52px;
    height: 52px;
}

#arrow-back {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

/* Data binding ---------------------- */
.binding-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.streak-saver-container {
    width: 1000px;
    height: 600px;
    border-radius: 20px;
    background-color: var(--white-blur);
    box-shadow: inset 0 0 13px rgb(0 0 0 / 0.85), rgb(0 0 0 / 0.77) 2px 2px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 20px ;
}

.button-animation-start,
.button-animation-float,
.button-page-reload {
    width: 150px;
    height: 150px;
    font-family: 'beachday', serif;
    font-size: 3em;
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 100px;
    color: #80858e;
    text-shadow: 0 2px 1px rgb(0 0 0 / 0.60);
    background-color: var(--white-blur-dark);
    box-shadow: inset 0 0 10px rgb(0 0 0 / 0.60),  rgb(0 0 0 / 0.30) 0 3px 7px;
    border: 1px solid #80858e;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    cursor: pointer;
    user-select: none;
}

.button-animation-float,
.button-page-reload {
    width: 200px;
    height: 77px;
    border-radius: 20px;
    position: absolute;
    left: 40px;
    bottom: 40px;
    font-size: 2em;
}

.button-page-reload {
    left: 269px;
}

.button-animation-start:hover,
.button-animation-float:hover,
.button-page-reload:hover {
    box-shadow: inset 0 0 5px rgb(0 0 0 / 0.50);
    color: #929AAB;
}

.button-animation-start:active,
.button-animation-float:active,
.button-page-reload:active {
    color: #80858e;
    box-shadow: inset 0 0 10px rgb(0 0 0 / 0.60),  rgb(0 0 0 / 0.30) 0 3px 7px;
}

#streak-saver-front-db {
    width: 100%;
    height: 100%;
}


/* ---------------------- Higher specification ---------------------- */

.d-none {
    display: none;
}

.disabled {
    filter: grayscale(100%);
    opacity: 0.7;
    pointer-events: none;
}

.opacity-0 {
    opacity: 0;
    pointer-events: none;
}

.font-4 {
    font-size: 4em !important;
}

.btn-clicked {
    pointer-events: none;
    box-shadow: inset 0 0 5px rgb(0 0 0 / 0.50) !important;
    color: #929AAB !important;
}


/* ---------------------- Animations ---------------------- */
.scale-out-center {
    -webkit-animation: scale-out-center 0.3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: scale-out-center 0.3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2026-5-25 13:45:45
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-out-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-out-center {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }
}

@keyframes scale-out-center {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }
}